{% extends 'hotel/base.html' %}
{% block content %}
<h1>Hotel WebDev - About</h1>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                
                <small class="text-muted">by Lazaros Psarokostas</small>
            </div>
            <h2><a class="article-title" href="#"></a></h2>
            <p class="article-content">Our hotel is one of the best of the world!</p>
        </div>
    </article>

    <div class="row">
        <div class="column-about">
            <div class="card mb-3">
              <h3 class="card-header">Location</h3>
              <div class="card-body">
                <h5 class="card-title">Greece</h5>
                <h6 class="card-subtitle text-muted">Thessaloniki</h6>
              </div>
              <iframe style="height: 400px; width: 100%; display: block;"  width="100" height="200" style="display: block;" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24227.496414121208!2d22.92791649326364!3d40.620242557856095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a839af2548cc69%3A0xef18309d80742d16!2zzpvOtc-FzrrPjM-CIM6gz43Pgc6zzr_PgiDPhM63z4IgzpjOtc-Dz4POsc67zr_Ovc6vzrrOt8-C!5e0!3m2!1sel!2sgr!4v1588162003700!5m2!1sel!2sgr" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
              <div class="card-body">
                <p class="card-text">What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries,
                    but also the leap into electronic typesetting,
                    remaining essentially unchanged.
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software
                    like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Rating</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Ratings on TripAdvisor</a>
              </div>
              <div class="card-footer text-muted">
                Tel: (+30) 2310 000000 | Email: contact@webdev.com
              </div>
            </div>
        </div>
      </div>
<br>
{% endblock %}