{% extends 'hotel/base.html' %}
{% block content %}
<!--


  <style>
  /* Float four columns side by side */
  .column-rooms {
    {% if rooms >= 4 %}
      width: 25% !important;
    {% elif rooms == 3 %}
      width: 33% !important;
    {% elif rooms == 2 %}
      width: 50% !important;
    {% else %}
      width: 100% !important;
    {% endif %}
  }
  </style>



-->

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h3>Bookings List</h3>
            <small class="text-muted">by Lazaros Psarokostas</small>
        </div>
        <h2><a class="article-title" href="#"></a></h2>
        <p class="article-content">Our hotel is one of the best of the world!</p>
    </div>
</article>
<table border="1px">
    <tr>
        <th>Customer</th>
        <th>Room</th>
        <th>Date In</th>
        <th>Date Out</th>
        <th>Booking Time</th>
    </tr>
    <tr>
{% for booking in bookings %}
<td>{{booking.customer}}</td>
<td>{{booking.room_id}}</td>
<td>{{booking.datein}}</td>
<td>{{booking.dateout}}</td>
<td>{{booking.date_posted}}</td>
{% endfor %}
</tr>
</table>
<!-- START OF PAGINATION -->
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
{% if is_paginated %}

  {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}
</div>
</div>
<!-- END OF PAGINATION -->

{% endblock %}