{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'chooser/main.css' %}">
</head>
<body>
    <div class="cols no-gutters">

        <div class="col no-gutters">

            <!--<div class="leftside d-flex justify-content-center align-items-center">

                <p>Go to Blog</p>

            </div>-->
            <div class="leftside">

                <div class="bg-image"></div>
                <a href="/blog">
                <div class="bg-text">
                  <h1>Go to blog</h1>
                </div>
                </a>
            </div>

        </div>

        <div class="col no-gutters">

            <div class="rightside">

                <div class="bg-image-1"></div>
                <a href="/hotel">
                <div class="bg-text">
                  <h1>Go to hotel</h1>
                </div>
                </a>
            </div>

        </div>
    </div>
</body>
</html>